@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin:0px;
    padding: 0px;
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
}

.logo img{
    width: 170px;
}

#main{
    width:100%;
    height:768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/hero.png');
    position: relative;
    z-index: 0;
}

#main::before{
    position: absolute;
    content: "";
    background: -moz-radial-gradient(center, ellipse cover, rgba(31, 134, 131, 0.4) 0%, rgba(0, 0, 0, 0.7) 40%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(31, 134, 131, 0.4) 0%, rgba(0, 0, 0, 0.7) 40%);
    background: radial-gradient(ellipse at left, rgba(31, 134, 131, 0.4) 0%, rgba(0, 0, 0, 0.7) 40%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61b50808', endColorstr='#99000000',GradientType=1 );
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.6s ease-in-out;
}

#hero-detail{
    width:100%;
    height:450px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/article-hero.jpg');
    position: relative;
    z-index: 0;
}

#hero-about{
    width:100%;
    height:450px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/about-us-page.jpg');
    position: relative;
    z-index: 0;
}

#hero-feature{
    width:100%;
    height:650px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/healthy.jpg');
    position: relative;
    z-index: 0;
}

nav.active{
	box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.157);
	background-color: #434242;
}

nav ul{
	display: flex;
}

.active{
    background-color: #FF1414;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
	transition: all ease 0.2s;
}

.active:hover{
    background-color: #000000;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(198, 64, 64, 0.411);
	transition: all ease 0.2s;
}

nav ul li a{
    font-family: 'Roboto';
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.9rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

nav ul li a:hover{
	background-color: #FF1414;
    color:#ffffff;
	box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
	transition: all ease 0.2s;
}

nav .menu-btn, .menu-icon { 
    display:none;
}

.hero {
    text-align: center;
	font-family: 'Roboto';
	width: 900px;
	position: absolute;
    left: 50%;
	top: 55%;
	transform: translate(-50%,-55%);
}

.hero span{
    color: #22A39F;
}

.hero .details{
    font-size: 23px;
    color: #ffffff;
}

.hero h2{
	font-family:'Roboto';
	font-size: 2.7rem;
	margin:0px;
	letter-spacing: 2px;
	color:#ffffff;
}

.hero h1{
	font-family:'Roboto';
	font-size: 5rem;
	margin:0px;
	letter-spacing: 2px;
	color:#ffffff;
}

.header-btns{
    display: block;
    margin-top: 40px;
    text-align: center;
}

.header-btn{
	width:160px;
	height: 50px;
	justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    background-color: #22A39F;
    border-radius: 5px;
	color:#ffffff;
    cursor: pointer;
}

.header-btn:hover{
	background-color: transparent;
    transition: all ease 0.5s;
    color: #22A39F;
    border: 3px solid #22A39F;
}

#features{
    width:100%;
    box-sizing: border-box;
    font-family:'Roboto';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px ;
    background-color: #22A39F;
}

#features h2{
    color: #fff;
}

.a-container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px 0;
    padding: 20px;
}

.a-box{
    background-color: #F3EFE0;
    width:250px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    position: relative;
}

.a-b-img{
    width: 100%;
    height: 60%;
}

.a-b-img img{
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    height: 75%;
}

.a-box:hover{
    border: 1px solid #FF1414;
    box-shadow: 2px 2px 12px rgba(184, 0, 0, 0.445);
}

.a-b-text{
    width: 100%;
    height: 40%;
    background-color:#434242;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}

.a-b-text h2 a{
    color: #fff;
}

.a-b-text h2 a:hover{
    color: #FF1414;
}

.a-b-text p{
    margin: 0px;
    color:#ffffffa6;
    font-size: 1.1rem;
    font-family:'Roboto';
    display: block;
    display: -webkit-box;
    max-width: 80%;
    margin-top: 5px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.a-b-text p:hover{
    color:#ffffff;
}

.a-b-text a{
    margin-top:15px ;
}

#articles{
    padding-top: 30px;
    text-align: center;
    margin: 30px 20px;
}

#articles a {
    color: black;
}

#articles a:hover {
    color: black;
}

.articles-list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px 8px;
}

.articles-list-empty {
    margin-top: 32px;
    padding: 16px 8px;
}
  
.articles-list-empty p {
    text-align: center;
    color: grey;
}

.article-item {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #fff;
    border-top: 5px solid;
    background-color: #F3EFE0;
}

.article-item__title {
    margin: 4px 0;
}

.article-item__createdAt {
    color: grey;
    font-size: 14px;
    margin: 4px 0;
}

.article-item__body {
    margin-top: 16px;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

#about{
    margin-top:100px ;
	width:100%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px 5% 40px 5%;
	position: relative;
    background-color: #22A39F;
}

.about-text {
    width: 35%;
    color: #fff;
    list-style: circle;
}

.about-text h2 {
	font-size: 2rem;
	color:white;
    font-weight: 500;
    margin: 0px;
	padding-top: 60px;
}

.about-text p{
    width: 80%;
	font-size: 1.2rem;
	color:#e7e7e7;	
}

.about-text button{
    margin-top: 20px;
	width: 140px;
	height: 45px;
	border-radius: 10px;
	border: none;
    outline: none;
    color: #ffffff;
	background-color:#FF1414;
}

.about-text button:hover{
    box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336);
	background-color: rgb(0, 0, 0);
    transition: all ease 0.3s;
    color: #ffffff;
}

.about-image{
    width: 50%;
}

.about-image img{
    height: 500px;
}

.detail-page {
    margin: 0 auto;
    margin-top: 32px; 
    width: 90%;
  }
  
.detail-page__title {
    font-size: 48px;
    margin-bottom: 8px;
    word-wrap: break-word;
}

.detail-page__createdAt {
    color: var(--on-background-grey)
}

.detail-page__body {
    line-height: 1.5;
    margin-top: 36px;
    margin-bottom: 30px;
    font-size: 18px;
}

.detail-page__body a, .login-page__footer a, .register-page__footer a {
    text-decoration: underline;
}

.detail-page__action, .homepage__action, .add-new-page__action {
    position: fixed;
    display: flex;
    gap: 16px;
    bottom: 32px;
    right: 32px;
}

#footer{
	display: flex;
	justify-content: center;
	align-items: center;
    height: 80px;
	width:100%;
    background-color: #434242;
}

#footer .logo img {
    text-align: left;
}

div.footer-text p {
    color: white;
}

@media(max-width:620px){
    #contact form{
        width:90%;
    }
}

@media(max-width:1190px){
	#main{
		background-size: 1150px !important;
		
	}
	.hero{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .hero h2{
        font-size: 1.5rem;
    }
    .hero h1{
        font-size: 3rem;
    }
    .hero .details{
        font-size: 1.2rem;
    }
    .pr-heading{
		left: 50%;
		top: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    .pr-heading h2{
        font-size: 1.5rem;
    }
    .pr-heading h1{
        font-size: 3rem;
    }
    .pr-heading .details{
        font-size: 1rem;
    }
	.about-image img{
		height:400px;
    }
    #features{
		height:auto;
    }
    .a-container{
		flex-wrap: wrap;
	}
    .a-box{
		flex-grow: 1;
	}
    .a-b-img img{
		object-fit:contain;
    }
    
}

@media(max-width:970px){
	#main{
		height: 650px;
	}
	.hero{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
    }
    .pr-heading{
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.about-image{
        display:none;
    }
    .header-btn{
        margin-top: 20px;
    }
    .pr-btn{
        margin-left: 20%;
        margin-top: 20px;
    }
	#about{
		justify-content: center;
        padding-top: 0px;
        text-align: center;
        
        margin-top: 0px;
	}
	.about-text{
        width: 90%;
	}
	.about-text h1{
		font-size:4rem;
    }
    .about-text p{
        width: 100%;
    }
    #features{
        margin-bottom: 100px;
    }
}

@media(max-width:600px){
	.hero{
		width:60%;
    }
    .pr-heading{
		width:60%;
    }
}

@media(max-width:740px){.menu-icon{
    display:block;}
        nav{
            justify-content: space-between;
            height: 65px;
            padding: 0px 30px;
        }
        .logo img{
            width:100px;
        }
        .header-btns{
            margin-left: 20%;
        }
        .pr-btns{
            margin: 0;
        }
        .menu{
            display:none;
            position:absolute;
            top:65px;
            left:0px;
            background-color:#000000;
            border-bottom:4px solid #FF1414;
            width:100%;
            padding:0px;
            margin:0px;
        }
        .menu li{
            width:100%;
        }
        nav .menu li a{
            width:100%;
            height:40px;
            justify-content: center;
            align-items: center;
            margin:0px;
            padding: 25px;
            border:1px solid rgba(38,38,38,0.03);
        }
        nav .menu-icon{
            cursor:pointer;
            float:right;
            padding:28px 20px;
            position:relative;
            user-select: none;
        }
        nav .menu-icon .nav-icon{
            background-color:#ffffff;
            display:block;
            height:2px;
            position:relative;
            transition: background 0.2s ease-out;
            width:24px;
        }
        nav .menu-icon .nav-icon:before,
        nav .menu-icon .nav-icon:after{
            background:rgb(255, 255, 255);
            content:'';
            display:block;
            height:100%;
            position:absolute;
            transition:all ease-out 0.2s;
            width:100%;
        }
        nav .menu-icon .nav-icon:before{
            top:6px;
        }
        nav .menu-icon .nav-icon:after{
            top:-6px;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon{
            background:transparent;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:before{
            transform: rotate(-45deg);
            top:0;
        }
        nav .menu-btn:checked ~ .menu-icon .nav-icon:after{
            transform: rotate(45deg);
            top:0;
        }
        nav .menu-btn{
            display:none;
        }
        nav .menu-btn:checked ~ .menu{
            display:block;
        }}
        @media(max-width:400px){
            .a-box{
                width: 100%;
                height:400px;
            }
}

@media screen and (min-width: 650px) {
    .articles-list {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .detail-page__title { 
      font-size: 52px;
    }
  }
  
  @media screen and (min-width: 850px) {
    .articles-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (min-width: 1350px) {
    #articles{
        margin: 0 100px;
    }

    .articles-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }